*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url("group-35.jpg");
    width: 1560px;
    height: 930px;
    object-fit: contain;
    margin: 0 0 87px;
    padding: 10px 15px 33px 17px;
}
.white-logo-transparent-background{
    width: 175px;
    height: 130px;
}
.u1{
    list-style-type: none;
    float: right;
    margin: 0px 1px 30px 10px;
}
.u1 li{
    display: inline-block;
}
.u1 li a{
    height: 16px;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
}

ul button.btnlgn{
    font-size: 17px;
    padding: 8px 29px 9px 29px;
    margin: 33px 5px 247px 10px;
    border-radius: 20px;
    background-color: transparent;
    border:solid 1.5px rgba(255,255,255,0.4);
    color: #fff;
}
ul button.btnb{
    font-size: 17px;
    margin: 33px 10px 247px 0px;
    padding: 8px 18px 9px 22px;
    background-color: transparent;
    border-radius: 24px;
    border:solid 1.5px rgba(255,255,255,0.4);
    color: #fff;
}
ul button.btnh{
    font-size: 17px;
    margin: 33px 22px 247px 11px;
    padding: 8px 15px 10px 18px;
    border-radius: 20px;
    background-color: transparent;
    border:solid 1.5px rgba(255,255,255,0.4);
    color: #fff;
}
.logo img{
    float: left;
    width: 175px;
    height: 130px;
}
.lorem{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 300px 100px 0 40px;
    line-height: 45px;
}
.cont{
    display: inline-flex;
    font-size: 16px;
    line-height: 20px;
}
.cont .right-symbol{
    margin: 5px 13px 15px 43px;
    object-fit: contain;
}
.cont .sms{
    color: #fff;
    line-height: 1.38;
}
.bluebook{
    /* opacity: 0.6; */
    color: #fff;
    font-size: 18px;
    margin: 25px 698px 0px 640px;
    padding: 13px 10px 13px 10px;
    background-color: rgba(0,96,114,0.6);
    border: solid 1.5px #fff;
    text-align: center;
    border-radius: 30px;
}
.logos{
    margin: 30px;
    margin-top: 150px;
    margin-left: 280px;
    margin-right: 50px;
}
.logos .forma-1-copy{
    margin-right: 35px;
}
.step-arrow-1{
    margin-left: 35px;
}
.group-22{
    margin-right: 35px;
    margin-left: 80px;
}
.step-arrow-1-copy{
    margin-left: 40px;
    margin-right: 70px;
}
.forma-10{
    margin-right: 40px;
    margin-left: 20px;
}
.forma-01{
    margin-left: 80px;
}
.logodata{
    display: inline-flex;
    font-size: 20px;
    color: #fff;
}
.logodata .center-content-1{
    margin-left: 210px;
    margin-right: 130px;
}
.logodata .center-content-2{
    margin-left: 20px;
    margin-right: 180px;
}
.logodata .center-content-3{
    margin-right: 140px;
}
.circle{
    font-size: 40px;
    margin-left: 750px;
    margin-top: 50px;
    margin-bottom: 39px;
}
.shape1{
    margin-left: -32px;
    margin-bottom: 49px;
    object-fit: contain;
}





.cont1{
    margin-top: 87px;
}
.Why-Helperland {
    margin-left: 620px;
    width: 282px;
    height: 38px;
    font-size: 40px;
    font-weight: bold;
    color: #4f4f4f;
}
.group-21{
    margin-top: 30px;
    margin-left: 220px;
    margin-right: 71px;
    object-fit: contain;
}
.group-23{
    margin-right: 71px;
    object-fit: contain;
}
.group-24{
    object-fit: contain;
}
.heading-1{
    margin-top: 38.5px;
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
}
.heading-1 .heading_1{
    margin-left: 240px;
    margin-right: 30px;
    text-align: center;
    color: #565656;
}
.heading-1 .heading_2{
    margin-left: 40px;
    margin-right: 30px;
    text-align: center;
    color: #565656;
}
.heading-1 .heading_3{
    margin-left: 55px;
    text-align: center;
    color: #565656;
}
.cont-1{
    margin-top: 35px;
    margin-bottom: 240px;
    display: inline-flex;
    font-size: 17px;
}
.cont-1 .cont_1{
    margin-left: 230px;
    margin-right: 30px;
    text-align: center;
    color: #565656;
    line-height: 1.41;
}
.cont-1 .cont_2{
    margin-left: 56px;
    margin-right: 30px;
    text-align: center;
    color: #565656;
    line-height: 1.41;
}
.cont-1 .cont_3{
    margin-left: 58px;
    margin-right: 30px;
    text-align: center;
    color: #565656;
    line-height: 1.41;
}








.Lorem-ipsum{
    margin-bottom: 50px;
}
.group-36{
    float: right;
    margin-right: 230px;
}

.lism{
    color: #4f4f4f;
    margin-left: 200px;
    font-size: 30px;
    font-weight: bold;
}
.para{
    font-size: 18px;
    color: #4f4f4f;
    margin-left: 200px;
    line-height: 1.33;
}
.our{
    margin-top: 80px;
    margin-left: 700px;
    font-size: 40px;
    color: #4f4f4f;
    font-weight: bold;
}
.threeblog{
    display: inline-flex;
}
.blog1{
    margin-top: 66px;
    margin-left: 201px;
    margin-right: 45px;
    box-shadow: 0 0 30px 0 #e4ebf0;
    border-radius: 4px;
}
.blog2{
    margin-top: 66px;
    margin-right: 45px;
    box-shadow: 0 0 30px 0 #e4ebf0;
    border-radius: 4px;
}
.blog3{
    margin-top: 66px;
    box-shadow: 0 0 30px 0 #e4ebf0;
    border-radius: 4px;
}
.bghead{
    color: #3d4046;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}
.date{
    font-size: 13px;
    color: #a3a3a3;
    margin-left: 20px;
    margin-top: 5px;
    font-weight: normal;
}
.bgcont{
    font-size: 16px;
    color: #565656;
    margin-left: 21px;
    margin-top: 14px;
    line-height: 1.38;
}
.readpost{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 27px;
    color: #4f4f4f;
    margin-bottom: 31px;
}













.customers{
    background-color: #f4f5f8;
    color: #4f4f4f;
    padding: 0;
    margin-left: -16px;
    margin-right: -14.8px;
}
.customers .cust_say{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 59px;
}
.profiles{
    display: inline-flex;
}
.profiles .profile-1{
    margin-left: 190px;
    margin-right: 25px;
    float: left;
    border-left: solid 3px #1d7a8c;
    background-color: #fff;
    padding: 2px 30px 40px 35px;
    margin-bottom: 55px;
}
.msg{
    float: right;
    font-size: 5px;
}
.a1{
    margin-top: 10px;
    margin-left: 20px;
    float: right;
    margin-right: 80px;
}
.b1{
   font-size: 20px;
   font-weight: bold;
}
.manchester{
    font-size: 11px;
    line-height: 1.71;
}
.p123-c{
    line-height: 1.38;
}
.r1{
    font-size: 18px;
}
.shape-2{
    margin-left: 10px;   
}
.group-31{
    object-fit: contain;
    border-radius: 50px;
}
.group-32{
    object-fit: contain;
    border-radius: 50px;
}
.group-33{
    object-fit: contain;
    border-radius: 50px;
}
.profile-2{
    margin-left: 25px;
    margin-right: 25px;
    float: left;
    border-left: solid 3px #1d7a8c;
    background-color: #fff;
    padding: 2px 30px 40px 35px;
    margin-bottom: 55px;
    border-radius: 1px;
}
.profile-3{
    margin-left: 25px;
    float: left;
    border-left: solid 3px #1d7a8c;
    background-color: #fff;
    padding: 2px 30px 40px 35px;
    margin-bottom: 55px;
}
.other .letter{
    margin-left: 770px;
    font-weight: bold;
    color: #4f4f4f;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.22;
}
.other .forma-1{
    background: #4f4f4f;
    border-radius: 50%;
    padding: 12px 6.5px 12px 6.5px;
    margin-left: 65px;
    float: left;
    object-fit: contain;
    width: 24px;
}
.other .layer-598{
    width: 63px;
    margin-left: 1400px;
    margin-right: 0px;
    /* margin-bottom: 20px; */
    margin-top: -40px;
}
.mail{
    margin-left: 690px;
    border-radius: 27px;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.29;
    padding: 3px 60px 4px 20px;
    height: 40px;
    width: 160px;
    border: solid 0.7px;
    margin-top: -10px;
    margin-bottom: 53px;
}
.sub{
    margin-left: 7px;
    border-radius: 20px;
    padding: 13px 21px 14px 23px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background-color: #ff7b6d;
    border: transparent;
}
.bottom{
    background-color: #111111;
    margin-right: -14.8px;
    margin-left: -17px;
}
.white-logo-transparent-background-1{
    margin-left: 122px;
    margin-top: 27px;
    margin-bottom: 26px;
    height: 78px;
    width: 106px;
}
.nav{
    margin-top: 60px;
    margin-right: 130px;
    font-size: 22px;
    text-align: right;
}


ul{
    list-style-type: none;
    float: right;
    margin-right: 100px;
}
ul li{
    display: inline-block;
}
ul li a{
    height: 16px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: right;
    color: #f1f1f1;
    text-decoration: none;
    padding: 5px 15px;
}


.fa-facebook{
    color: #f1f1f1;
    text-decoration: none;
    margin-left: 230px;
}
.fa-instagram{
    color: #f1f1f1;
    text-decoration: none;
    margin-left: 0;
    width: 30px;
}
.privacy{
    background-color: #292929;
    margin-left: -17px;
    margin-right: -14.8px;
    height: 64px;
    align-items: center;
}
.priv_cont{
    font-size: 14px;
    text-align: center;
    padding: 21px;
    color: #9ba0a3;
    line-height: 1.57;
}
.blue{
    color: #6eabef;
}
.ok{
    float: right;
    margin-top: -55px;
    font-size: 16px;
    margin-right: 25px;
    background: #eed507;
    border: transparent;
    padding-top: 13px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 13px;
    border-radius: 30px;
}